<!--<p id="notice"><%= notice %></p>

<h1>Post</h1>

<div id="posts">
  <%= render @posts %>
</div>

<%= link_to "New post", new_post_path %>-->
<div class="container">
  <div id="div1">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text <br>ever since the 1500s, </p>
  </div>  
</div>
<br>
<br>
<br>

<button id="append">Append</button>
<button id="perpend">Prepend</button>

<style>
#div1 {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

</style>